run = "bash start.sh"
entrypoint = "server.js"

[nix]
channel = "stable-23_11"

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5173
externalPort = 80

