run = "npm start"
entrypoint = "server.js"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm run build && npm run preview"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5173
externalPort = 80

